VAPID_PUBLIC_KEY=cole_a_chave_publica
VAPID_PRIVATE_KEY=cole_a_chave_privada
VAPID_SUBJECT=mailto:contato@videirajatai.com.br
PUSH_SECRET=gere_um_token_longo

# Mercado Pago (painel do desenvolvedor > Credenciais)
MP_ACCESS_TOKEN=cole_o_access_token
MP_PUBLIC_KEY=cole_a_public_key
MP_WEBHOOK_SECRET=cole_a_assinatura_secreta_gerada_no_painel_de_webhooks
